.icon {
  width: 280px;
  height: 400px;
  background-image: url("0-sprite.png");
  display: inline-block;
  background-repeat: no-repeat;
}

.i-html {
  background-position: 0 0;
}

.i-css {
  background-position: -280px 0;
}

i-js {
  background-position:  280px 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  background-color: #f8f6f6;
  font-size: 32px;
  padding-top: 32px;
  border-radius: 8px;
  margin-bottom: 16px;
}